*{
    margin: 0;
    padding: 0;
}
.corpo{
    display: flex;
}

form{
    margin: 200px 50px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 2px solid white;
    border-radius: 50px;
}

label{
    color: palevioletred;
    font-weight: 900;
}

input{
    border: 0;
    background-color: pink;
    border-bottom: 2px solid white;
    outline: 0;
}

button{
    background-color: pink;
    border: 2px solid white;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    width: 100px;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}
button:hover{
    background-color: palevioletred;
}

img{
    margin: 200px 50px 0px 100px;
    width: 400px;
}

.pink-1{
    background-color: palevioletred;
    width: 105vh;
    height: 100vh;
    animation: pin 3s infinite;
}
@keyframes pin{
    0%{
        background-color: rgb(223, 77, 125);
    }
    50%{
        background-color: rgb(214, 147, 169);
    }
    100%{
        background-color: rgb(167, 86, 113);
    }
}

.pink-2{
    background-color: pink;
    width: 105vh;
    height: 100vh;

}
